.Class2 {
    display: none;
}

.Class3 {
    width: 550px;
    display: none;
}

.Class4 {
    display: none;
}

.Class5 {
    display: none;
}

.Class6 {
    display: none;
}

.Class7 {
    display: none;
}

.Class8 {
    display: none;
}

.Class9 {
    display: none;
}

body {
    background-color: #C62828;
    text-align: center;
    color: black;
}

.img {
    width: 550px;
    display: none;
}

.img2 {
    width: 550px;
    display: none;
}

.img3 {
    width: 550px;
    display: none;
}

.Class10 {
    display: none;
}
.Class11{
    width:350px;
    }
.Class13{
    width:350px;
display:none;
    }    
    .Class14{
    width:350px;
display:none;
    }    